<a href="https://colab.research.google.com/github/NAGPALADITI14/Data_Mining/blob/main/Decision_and_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ****Practical no: 2**** #
# ****Strings, Control structures and loops in python**** #

### Submitted by: Aditi Nagpal ###
### Roll no: UE223006 ###
### GROUP - 1
### CSE SECTION-1 ###

# ***STRINGS IN PYTHON*** #
A string is a sequence of characters. Python treats anything inside quotes as a string. This includes letters, numbers, and symbols. Python has no character data type so single character is a string of length 1.

### Creating a new string ###

In [ ]:
s1 = "UIET"
s2 = 'PanjabUniversity'
print(s1)
print(s2)

UIET
PanjabUniversity

### Printing a strings ###

In [ ]:
s= ''' Lets code in Python'''
print(s)

 Lets code in Python

### Accessing the elements of strings ###

In [ ]:
s= "PanjabUniversity"
## from left to right (0 - n)
## from right to left (-n - -1)
print(s[0])
print(s[-16])
print(s[-1])
print(s[15])

P
P
y
y

### String slicing###

In [ ]:
s= "PanjabUniversity"
print(s[1:4])

print(s[:3])

print(s[3:])

# Reverse a string
print(s[::-1])

anj
Pan
jabUniversity
ytisrevinUbajnaP

### String Immutability ###

In [ ]:
s = "The" + s[0:]
print(s)

ThePanjabUniversity

### Common string methods ###

In [ ]:
print("The length of strings is: ",len(s))

print(s.upper())

print(s.lower())

The length of strings is:  19
THEPANJABUNIVERSITY
thepanjabuniversity

In [ ]:
s1 = "   Panjab  University   "
print(s.strip())
print(s1*3)

ThePanjabUniversity
   Panjab  University      Panjab  University      Panjab  University

# **Control Statements** #

Python program control flow is regulated by various types of conditional statements, loops, and function calls. By default, the instructions in a computer program are executed in a sequential manner, from top to bottom, or from start to end. However, such sequentially executing programs can perform only simplistic tasks. We would like the program to have a decision-making ability, so that it performs different steps depending on different conditions.

### IF STATEMENT ###
Python provides if..elif..else control statements as a part of decision marking. It consists of three different blocks, which are if block, elif (short of else if) block and else block.

In [ ]:
cost  = 400
result = ""
if cost < 200:
    result = "cheap"
elif cost > 700:
    result = "expensive"
else:
    result = "affordable"

print(result)

affordable

### Match-case Statements ###
Python supports Match-Case statement, which can also be used as a part of decision making. If a pattern matches the expression, the code under that case will execute.

In [ ]:
def checkcost(n):
    match n:
        case 100 : return "cheap"
        case 400 : return "affordable"
        case 700 : return "expensive"
        case _ : return "none"

print(checkcost(350))
print(checkcost(450))
print(checkcost(700))
print(checkcost(400))

none
none
expensive
affordable

#### Match statement with constants ####

In [ ]:
def greet(person):
    match person:
        case "A":
            print("Hello, A!")
        case "B":
            print("Hello, B!")
        case _:
            print("Hello, stranger!")

greet("A")
greet("B")

Hello, A!
Hello, B!

#### Match statement with OR operator ####

In [ ]:
def cost_check(x):
    match x:
        case 100 | 200 | 300:
            print(f"Matched: {x}")
        case _:
            print("No match found")

cost_check(100)
cost_check(200)
cost_check(250)

Matched: 100
Matched: 200
No match found

#### Match statement if condition ####

In [ ]:
def cost_check(x):
    match x:
        case 10 if x % 2 == 0:  # Match 10 only if it's even
            print("Matched 10 and it's even!")
        case 13:
            print("Matched 13, but it's not even.")
        case _:
            print("No match found")

cost_check(10)
cost_check(13)
cost_check(15)

Matched 10 and it's even!
Matched 13, but it's not even.
No match found

#### Match statement on sequences ####

In [ ]:
def process(data):
    match data:
        case [x, y]:
              # A list with two elements
            print(f"Two-element list: {x}, {y}")
        case [x, y, z]:
              # A list with three elements
            print(f"Three-element list: {x}, {y}, {z}")
        case _:
            print("Unknown data format")

process([1, 2])
process([1, 2, 3])
process([1, 2, 3, 4])

Two-element list: 1, 2
Three-element list: 1, 2, 3
Unknown data format

#### Match statement on dictionaries ####

In [ ]:
def person(person):
    match person:

          # Dictionary with name and age keys
        case {"name": name, "age": age}:
            print(f"Name: {name}, Age: {age}")

        # Dictionary with only name key
        case {"name": name}:
            print(f"Name: {name}")
        case _:
            print("Unknown format")

person({"name": "Alice", "age": 25})
person({"name": "Bob"})
person({"city": "New York"})

Name: Alice, Age: 25
Name: Bob
Unknown format

## ***Loops in Python***

Loops in Python are used to repeat actions efficiently. The main types are For loops (counting through items) and While loops (based on conditions). Additionally, Nested Loops allow looping within loops for more complex tasks. While all the ways provide similar basic functionality, they differ in their syntax and condition-checking time.

## While Loop

In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the line immediately after the loop in the program is executed.

In [ ]:
count = 0
while (count < 5):
    count = count + 1
    print("Hello UIET")

Hello UIET
Hello UIET
Hello UIET
Hello UIET
Hello UIET

##### USING ELSE STATEMENT WITH WHILE LOOP #####
Else clause is only executed when our while condition becomes false. If we break out of the loop or if an exception is raised then it won’t be executed.

In [ ]:
count = 0
while (count < 3):
    count = count + 1
    print("PRINTING IN THE IF BLOCK")
else:
    print("PRINTING IN THE ELSE BLOCK")

PRINTING IN THE IF BLOCK
PRINTING IN THE IF BLOCK
PRINTING IN THE IF BLOCK
PRINTING IN THE ELSE BLOCK

## FOR LOOP ##

In [ ]:
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

In [ ]:
li = ["UIET", "PANJAB", "UNIVERSITY"]
for i in li:
    print(i)

tup = ("UIET", "PANJAB", "UNIVERSITY")
for i in tup:
    print(i)

s = "UIET"
for i in s:
    print(i)

d = dict({'x':123, 'y':354})
for i in d:
    print("%s  %d" % (i, d[i]))

set1 = {1, 2, 3, 4, 5, 6}
for i in set1:
    print(i),

UIET
PANJAB
UNIVERSITY
UIET
PANJAB
UNIVERSITY
U
I
E
T
x  123
y  354
1
2
3
4
5
6

In [ ]:
list = ["UIET", "PANJAB", "UNIVERSITY"]
for index in range(len(list)):
    print(list[index])
else:
    print("Inside Else Block")

UIET
PANJAB
UNIVERSITY
Inside Else Block

In [ ]:
for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

# **LOOP CONTROL STATEMENTS** #

### CONTINUE STATEMENT ###

In [ ]:
for letter in 'PanjabUniversity':
    if letter == 'e' or letter == 's':
        continue
    print('Current Letter :', letter)

Current Letter : P
Current Letter : a
Current Letter : n
Current Letter : j
Current Letter : a
Current Letter : b
Current Letter : U
Current Letter : n
Current Letter : i
Current Letter : v
Current Letter : r
Current Letter : i
Current Letter : t
Current Letter : y

### BREAK STATEMENT ###

In [ ]:
for letter in 'PanjabUniversity':
    if letter == 'e' or letter == 's':
        break

print('Current Letter :', letter)

Current Letter : e

### PASS STATEMENT ###

In [ ]:
for letter in 'PanjabUniversity':
    pass
print('Last Letter :', letter)

Last Letter : y