<a href="https://colab.research.google.com/github/NAGPALADITI14/Data_Mining/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Series**

In [ ]:
import pandas as pd

a = [5,10,15,20,25]
b = pd.Series(a)
print(b)

# first value is always indexed as 0
print("5th element of series is : ",b[4])

0     5
1    10
2    15
3    20
4    25
dtype: int64
5th element of series is :  25

In [ ]:
# creating labels for the series

c = pd.Series(a,index = ["idx1","idx2","idx3","idx4","idx5"])
print(c)
print(c["idx4"])

idx1     5
idx2    10
idx3    15
idx4    20
idx5    25
dtype: int64
20

In [ ]:
#Key/Value Objects as Series
steps = {"day1": 4200, "day2": 3980, "day3": 3990}
stepcount = pd.Series(steps)
print(stepcount)

step_count = pd.Series(steps,index = ["idx1","idx2"])
print(step_count)

step_count2 = pd.Series(steps,index = ["day1","day2"])
print(step_count2)

day1    4200
day2    3980
day3    3990
dtype: int64
idx1   NaN
idx2   NaN
dtype: float64
day1    4200
day2    3980
dtype: int64

In [ ]:
# Dataframes using 2 Series
data = {
    "days" : [1,2,3],
    "steps" : [4200,3980,3990]
}
df = pd.DataFrame(data)
print(df)
print("\n")

print("at index 0")
print(df.loc[0])
print("\n")

print("Accessing multiple indices")
print(df.loc[[0,2]])

# When using [], the result is a Pandas DataFrame.

   days  steps
0     1   4200
1     2   3980
2     3   3990


at index 0
days        1
steps    4200
Name: 0, dtype: int64


Accessing multiple indices
   days  steps
0     1   4200
2     3   3990

In [ ]:
data = {
    "days" : [1,2,3],
    "steps" : [4200,3980,3990]
}
df = pd.DataFrame(data, index = ["day1","day2","day3"])
print(df)

      days  steps
day1     1   4200
day2     2   3980
day3     3   3990

In [ ]:
#creating an empty series
s = pd.Series()
print("resultant empty series :\n ",s)

#creating a series from array
import numpy as np
data = np.array(['A','d','i','t','i'])
s = pd.Series(data)
print("resultant series from array :\n",s)

# using custom index
s = pd.Series(data,index=[1,4,9,20,9])
print("Resultant series with custom index :\n",s)

#creating series from dictionary
dictionary = {'a':1,"d":4,"i":9,"t":20}
s = pd.Series(dictionary,index=['a','d','i','t','y'])
print("resultant series from dictionary :\n",s)

#creating series from scalar
s= pd.Series(10,index=[1,2,3,4,5])
print("resultant series of Scalar :\n",s)

resultant empty series :
  Series([], dtype: object)
resultant series from array :
 0    A
1    d
2    i
3    t
4    i
dtype: object
Resultant series with custom index :
 1     A
4     d
9     i
20    t
9     i
dtype: object
resultant series from dictionary :
 a     1.0
d     4.0
i     9.0
t    20.0
y     NaN
dtype: float64
resultant series of Scalar :
 1    10
2    10
3    10
4    10
5    10
dtype: int64

In [ ]:
# Pandas Series Slicing

data = np.array(['A','d','i','t','i'])
s = pd.Series(data)
print('Original Series:',s, sep='\n')

# Series[start:stop:step]: It selects elements from start to end with specified step value.
result = data[1:4:2]
print('Values after slicing the Series:', result, sep='\n')

# Series[start:stop]: It selects items from start to stop with step 1.
result = data[1:4]
print('Values after slicing the Series:', result, sep='\n')

# Series[start:]: It selects items from start to the rest of the object with step 1.
result = data[3:]
print('Values after slicing the Series:', result, sep='\n')

# Series[:stop]: It selects the items from the beginning to stop with step 1.
result = data[:3]
print('Values after slicing the Series:', result, sep='\n')

# Series[:]: It selects all elements from the series object.
result = data[:]
print('Values after slicing the Series:', result, sep='\n')

#after modifying the elements
data[:2] = ['a',"D"]
print("Series after modifying the first two elements:",data,sep='\n')

Original Series:
0    A
1    d
2    i
3    t
4    i
dtype: object
Values after slicing the Series:
['d' 't']
Values after slicing the Series:
['d' 'i' 't']
Values after slicing the Series:
['t' 'i']
Values after slicing the Series:
['A' 'd' 'i']
Values after slicing the Series:
['A' 'd' 'i' 't' 'i']
Series after modifying the first two elements:
['a' 'D' 'i' 't' 'i']

In [ ]:
#Arithematic operation on Series
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

# Display the Input Series
print('Input Series\n',s)

# Apply all Arithmetic Operation and Display the Results
print('\nAddition:\n',s+2)
print('\nSubtraction:\n', s-2)
print('\nMultiplication:\n', s * 2)
print('\nDivision:\n', s/2)
print('\nExponentiation:\n', s**2)
print('\nModulus:\n', s%2)
print('\nFloor Division:\n', s//2)

Input Series
 a    1
b    2
c    3
d    4
e    5
dtype: int64

Addition:
 a    3
b    4
c    5
d    6
e    7
dtype: int64

Subtraction:
 a   -1
b    0
c    1
d    2
e    3
dtype: int64

Multiplication:
 a     2
b     4
c     6
d     8
e    10
dtype: int64

Division:
 a    0.5
b    1.0
c    1.5
d    2.0
e    2.5
dtype: float64

Exponentiation:
 a     1
b     4
c     9
d    16
e    25
dtype: int64

Modulus:
 a    1
b    0
c    1
d    0
e    1
dtype: int64

Floor Division:
 a    0
b    1
c    1
d    2
e    2
dtype: int64

In [ ]:
s1 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s2 = pd.Series([9, 8, 6, 5], index=['x','a','b','c'])

# Apply all Arithmetic Operations and Display the Results
print('\nAddition:\n',s1+s2)
print('\nSubtraction:\n', s1-s2)
print('\nMultiplication:\n', s1 * s2)
print('\nDivision:\n', s1/s2)

Addition:
 a    9.0
b    8.0
c    8.0
d    NaN
e    NaN
x    NaN
dtype: float64

Subtraction:
 a   -7.0
b   -4.0
c   -2.0
d    NaN
e    NaN
x    NaN
dtype: float64

Multiplication:
 a     8.0
b    12.0
c    15.0
d     NaN
e     NaN
x     NaN
dtype: float64

Division:
 a    0.125000
b    0.333333
c    0.600000
d         NaN
e         NaN
x         NaN
dtype: float64

In [ ]:
#Converting Series to other objects

s = pd.Series([1, 2, 3,4,5,6,7,8,9,10])

# Convert Series to a Python list
result = s.to_list()

print("Output:",result)
print("Output Type:", type(result))

#convert to array
result = s.to_numpy()

print("Output:",result)
print("Output Type:", type(result))

# convert to dict
result = s.to_dict()

print("Output:",result)
print("Output Type:", type(result))

# convert to Dataframe
result = s.to_frame()

print("Output:",result)
print("Output Type:", type(result))

# convert to string
result = s.to_string()

print("Output:",result)
print("Output Type:", type(result))

Output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Output Type: <class 'list'>
Output: [ 1  2  3  4  5  6  7  8  9 10]
Output Type: <class 'numpy.ndarray'>
Output: {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}
Output Type: <class 'dict'>
Output:     0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10
Output Type: <class 'pandas.core.frame.DataFrame'>
Output: 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Output Type: <class 'str'>

In [ ]:
# Basic Functionality

# Attributes in Pandas allow you to access metadata about your Series and DataFrame objects. By using these attributes you can explore and easily understand the data.

s = pd.Series(np.random.randn(8))

#dtype : Returns the data type of the elements in the Series or DataFrame.
print("Data type of Series:", s.dtype)
# index:Provides the index (row labels) of the Series or DataFrame.
print("Index of Series:", s.index)
# values:Returns the data in the Series or DataFrame as a NumPy array.
print("Values of Series:", s.values)
# shape:Returns a tuple representing the dimensionality of the DataFrame (rows, columns).
print("Shape of Series:", s.shape)
# ndim:Returns the number of dimensions of the object. Series is always 1D, and DataFrame is 2D.
print("Number of dimensions of Series:", s.ndim)
# size:Gives the total number of elements in the object.
print("Size of Series:", s.size)
# empty:Checks if the object is empty, and returns True if it is.
print("Is Series empty?:", s.empty)

Data type of Series: float64
Index of Series: RangeIndex(start=0, stop=8, step=1)
Values of Series: [ 0.19931687 -0.51139384 -1.79931505 -0.05310875  1.91022485 -0.88005816
  0.2587058  -2.20481141]
Shape of Series: (8,)
Number of dimensions of Series: 1
Size of Series: 8
Is Series empty?: False

In [ ]:
# head(n):Returns the first n rows of the object. The default value of n is 5.
# tail(n):Returns the last n rows of the object. The default value of n is 5.
# info():Provides a concise summary of a DataFrame, including the index dtype and column dtypes, non-null values, and memory usage.
# describe():Generates descriptive statistics of the DataFrame or Series, such as count, mean, std, min, and max.

import pandas as pd
import numpy as np

# Create a Series with random numbers
s = pd.Series(np.random.randn(10))

print("Series:")
print(s)

# Using basic methods
print("First 5 elements of the Series:\n", s.head())
print("\nLast 4 elements of the Series:\n", s.tail(4))
print("\nDescriptive statistics of the Series:\n", s.describe())

Series:
0   -0.902836
1   -1.780421
2   -0.210645
3   -0.999751
4   -0.330581
5   -0.779577
6   -0.756939
7    1.943579
8    0.822437
9   -0.802398
dtype: float64
First 5 elements of the Series:
 0   -0.902836
1   -1.780421
2   -0.210645
3   -0.999751
4   -0.330581
dtype: float64

Last 4 elements of the Series:
 6   -0.756939
7    1.943579
8    0.822437
9   -0.802398
dtype: float64

Descriptive statistics of the Series:
 count    10.000000
mean     -0.379713
std       1.052763
min      -1.780421
25%      -0.877726
50%      -0.768258
75%      -0.240629
max       1.943579
dtype: float64

In [ ]:
#Attributes used with dataframes

data = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

df = pd.DataFrame(data)
print("Our data frame is:\n")
print(df)

print("\nFirst 5 rows of the DataFrame:\n", df.head())
print("\nLast 3 rows of the DataFrame:\n", df.tail(3))
print("\nInfo of the DataFrame:")
df.info()
print("\nDescriptive statistics of the DataFrame:\n", df.describe())

Our data frame is:

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

First 5 rows of the DataFrame:
     Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20

Last 3 rows of the DataFrame:
     Name  Age  Rating
4  Steve   30     3.2
5  Smith   29     4.6
6   Jack   23     3.8

Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   Rating  7 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 300.0+ bytes

Descriptive statistics of the DataFrame:
              Age    Rating
count   7.000000  7.000000
mean   25.857143  3.658571
std     2.734262  0.698628
min    23.000000  2.560000
25%    24.000000  3.220000
50%    25.000000  3.800000
75%    27.500000  4.105000
max    30.000000  4.600000

In [ ]:
# INDEXING AND SELECTING DATA

np.random.seed(45)
df = pd.DataFrame(np.random.randint(200,1000,size=(7, 5)),
                  index=['R1','R2','R3','R4','R5','R6','R7'],
                  columns=['C1','C2','C3','C4','C5'])
print(df)
# select the first column
print("values in col1:\n",df['C1'])
print("values in col1:\n", df.loc[:, 'C1'])
print("values in col1:\n", df.iloc[:, 0])

# selecting multiple columns
print("values in col1,col3,col5:\n",df.loc[:,['C1','C3','C5']])

# SELECTING PARTICULAR ROWS AND COLUMNS
print("----------Result:--------\n",df.loc[['R2','R4','R6'],['C1','C3','C5']])

# SELECTING PARTICUAR ROWS
print("----------Result:--------\n",df.loc['R2':'R5'])

     C1   C2   C3   C4   C5
R1  614  843  744  807  925
R2  363  780  577  832  215
R3  777  598  509  769  656
R4  415  464  381  580  224
R5  468  217  686  396  310
R6  838  358  470  690  236
R7  999  798  620  897  389
values in col1:
 R1    614
R2    363
R3    777
R4    415
R5    468
R6    838
R7    999
Name: C1, dtype: int64
values in col1:
 R1    614
R2    363
R3    777
R4    415
R5    468
R6    838
R7    999
Name: C1, dtype: int64
values in col1:
 R1    614
R2    363
R3    777
R4    415
R5    468
R6    838
R7    999
Name: C1, dtype: int64
values in col1,col3,col5:
      C1   C3   C5
R1  614  744  925
R2  363  577  215
R3  777  509  656
R4  415  381  224
R5  468  686  310
R6  838  470  236
R7  999  620  389
----------Result:--------
      C1   C3   C5
R2  363  577  215
R4  415  381  224
R6  838  470  236
----------Result:--------
      C1   C2   C3   C4   C5
R2  363  780  577  832  215
R3  777  598  509  769  656
R4  415  464  381  580  224
R5  468  217  686  396  310

In [ ]:
# Integer Position-Based Indexing with .iloc
# The .iloc indexer is used for integer-based indexing,
# which allows you to select rows and columns by their numerical
# position. This method is similar to standard python and numpy indexing
#  (i.e. 0-based indexing).

# Single Integer: Selects data by its position, e.g., df.iloc[0].

# List of Integers: Select multiple rows or columns by their positions, e.g., df.iloc[[0, 1, 2]].

# Integer Slicing: Use slices with integers, e.g., df.iloc[1:3].

# Boolean Arrays: Similar to .loc, but for positions.

# SELECT ALL COLUMNS FOR A PARTCULAR ROW
print('\nResult:\n',df.iloc[:3])

print('\nResult:\n',df.iloc[1:4,2:4])

#slicing through list of values
print('\nResult:\n',df.iloc[[1,3,5,],[2,4]])

Result:
      C1   C2   C3   C4   C5
R1  614  843  744  807  925
R2  363  780  577  832  215
R3  777  598  509  769  656

Result:
      C3   C4
R2  577  832
R3  509  769
R4  381  580

Result:
      C3   C5
R2  577  215
R4  381  224
R6  470  236

In [ ]:
# iteration
print("Original Dataframe:\n",df)

print("Iterated Output:")
for col,row in df.items():
   print(col,row)

print("--------------------Iterated Output:-------------------------")
for row,col in df.items():
   print(row,col)


# Iterate Over DataFrame as Series Pairs
# The iterrows() method returns an iterator that yields index and row pairs, where each row is represented as a Series object, containing the data in each row.

for row_index,row in df.iterrows():
   print(row_index,row)

# Iterate Over DataFrame as Namedtuples
# The itertuples() method will return an iterator yielding a named tuple for each row in the DataFrame.

print("Iterated Output:")
for row in df.itertuples():
   print(row)

Original Dataframe:
      C1   C2   C3   C4   C5
R1  614  843  744  807  925
R2  363  780  577  832  215
R3  777  598  509  769  656
R4  415  464  381  580  224
R5  468  217  686  396  310
R6  838  358  470  690  236
R7  999  798  620  897  389
Iterated Output:
C1 R1    614
R2    363
R3    777
R4    415
R5    468
R6    838
R7    999
Name: C1, dtype: int64
C2 R1    843
R2    780
R3    598
R4    464
R5    217
R6    358
R7    798
Name: C2, dtype: int64
C3 R1    744
R2    577
R3    509
R4    381
R5    686
R6    470
R7    620
Name: C3, dtype: int64
C4 R1    807
R2    832
R3    769
R4    580
R5    396
R6    690
R7    897
Name: C4, dtype: int64
C5 R1    925
R2    215
R3    656
R4    224
R5    310
R6    236
R7    389
Name: C5, dtype: int64
--------------------Iterated Output:-------------------------
C1 R1    614
R2    363
R3    777
R4    415
R5    468
R6    838
R7    999
Name: C1, dtype: int64
C2 R1    843
R2    780
R3    598
R4    464
R5    217
R6    358
R7    798
Name: C2, dtype: int64
C3 R1    744
R2    577
R3    509
R4    381
R5    686
R6    470
R7    620
Name: C3, dtype: int64
C4 R1    807
R2    832
R3    769
R4    580
R5    396
R6    690
R7    897
Name: C4, dtype: int64
C5 R1    925
R2    215
R3    656
R4    224
R5    310
R6    236
R7    389
Name: C5, dtype: int64
R1 C1    614
C2    843
C3    744
C4    807
C5    925
Name: R1, dtype: int64
R2 C1    363
C2    780
C3    577
C4    832
C5    215
Name: R2, dtype: int64
R3 C1    777
C2    598
C3    509
C4    769
C5    656
Name: R3, dtype: int64
R4 C1    415
C2    464
C3    381
C4    580
C5    224
Name: R4, dtype: int64
R5 C1    468
C2    217
C3    686
C4    396
C5    310
Name: R5, dtype: int64
R6 C1    838
C2    358
C3    470
C4    690
C5    236
Name: R6, dtype: int64
R7 C1    999
C2    798
C3    620
C4    897
C5    389
Name: R7, dtype: int64
Iterated Output:
Pandas(Index='R1', C1=614, C2=843, C3=744, C4=807, C5=925)
Pandas(Index='R2', C1=363, C2=780, C3=577, C4=832, C5=215)
Pandas(Index='R3', C1=777, C2=598, C3=509, C4=769, C5=656)
Pandas(Index='R4', C1=415, C2=464, C3=381, C4=580, C5=224)
Pandas(Index='R5', C1=468, C2=217, C3=686, C4=396, C5=310)
Pandas(Index='R6', C1=838, C2=358, C3=470, C4=690, C5=236)
Pandas(Index='R7', C1=999, C2=798, C3=620, C4=897, C5=389)

# **Sorting in dataframes**

In [ ]:
import pandas as pd
data = {'Name': ['Candidate1', 'Candidate2', 'Candidate3', 'Candidate4'],'Age': [25, 30, 35, 40],'Score': [85, 90, 95, 80]}
df = pd.DataFrame(data)

# Sorting by 'Age' in descending order
print("Sorting by 'Age' in descending order:")
sorted_df = df.sort_values(by='Age',ascending=False)
print(sorted_df)

# in ascending order
print("\nSorting by 'Age' in ascending order:")
sorted_df = df.sort_values(by='Age',ascending=True)
print(sorted_df)

#Sort dataframes by multiple columns
print("\nSorting by 'Age' and 'Score':")
sorted_df = df.sort_values(by=['Age', 'Score'])
print(sorted_df)

#dataframe with nan values
data = {'Name': ['Candidate1', 'Candidate2', 'Candidate3', 'Candidate4'],'Age': [25, 30, 35, 40],'Score': [85, None, 95, 80]}
df = pd.DataFrame(data)
print("\nSorting by 'Score' with NaN values first:")
sorted_df = df.sort_values(by="Score",na_position="first")
print(sorted_df)

print("\nSorting by 'Age' with NaN values first:")
sorted_df = df.sort_values(by="Age",na_position="first")
print(sorted_df)

#Sorting with different algorithms
print("\nSorting by 'Age' using mergesort:")
sorted_df = df.sort_values(by='Age', kind='mergesort')
print(sorted_df)

print("\nSorting by 'Age' using quicksort:")
sorted_df = df.sort_values(by='Age', kind='quicksort')
print(sorted_df)

print("\nSorting by 'Age' using heapsort:")
sorted_df = df.sort_values(by='Age', kind='heapsort')
print(sorted_df)

# Custom Sorting with Key Functions
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [28, 22, 25, 22, 28],
    "Score": [85, 90, 95, 80, 88]
}
df = pd.DataFrame(data)

print("\nCustom sorting 'Name' by lowercase:")
sorted_df = df.sort_values(by='Name', key=lambda col: col.str.lower())
print(sorted_df)

Sorting by 'Age' in descending order:
         Name  Age  Score
3  Candidate4   40     80
2  Candidate3   35     95
1  Candidate2   30     90
0  Candidate1   25     85

Sorting by 'Age' in ascending order:
         Name  Age  Score
0  Candidate1   25     85
1  Candidate2   30     90
2  Candidate3   35     95
3  Candidate4   40     80

Sorting by 'Age' and 'Score':
         Name  Age  Score
0  Candidate1   25     85
1  Candidate2   30     90
2  Candidate3   35     95
3  Candidate4   40     80

Sorting by 'Score' with NaN values first:
         Name  Age  Score
1  Candidate2   30    NaN
3  Candidate4   40   80.0
0  Candidate1   25   85.0
2  Candidate3   35   95.0

Sorting by 'Age' with NaN values first:
         Name  Age  Score
0  Candidate1   25   85.0
1  Candidate2   30    NaN
2  Candidate3   35   95.0
3  Candidate4   40   80.0

Sorting by 'Age' using mergesort:
         Name  Age  Score
0  Candidate1   25   85.0
1  Candidate2   30    NaN
2  Candidate3   35   95.0
3  Candidate4   40   80.0

Sorting by 'Age' using quicksort:
         Name  Age  Score
0  Candidate1   25   85.0
1  Candidate2   30    NaN
2  Candidate3   35   95.0
3  Candidate4   40   80.0

Sorting by 'Age' using heapsort:
         Name  Age  Score
0  Candidate1   25   85.0
1  Candidate2   30    NaN
2  Candidate3   35   95.0
3  Candidate4   40   80.0

Custom sorting 'Name' by lowercase:
      Name  Age  Score
0    Alice   28     85
1      Bob   22     90
2  Charlie   25     95
3    David   22     80
4      Eve   28     88